@using Sitecore.Links
<!-- Nav -->
<nav id="nav">
    <ul>
        <li><a href="/">Home</a></li>
        @foreach (Sitecore.Data.Items.Item child in @Html.Sitecore().CurrentItem.Children)
        {
            var className = string.Empty;
            if (@Sitecore.Context.Item.ID.Guid.Equals(child.ID.Guid))
            {
                className = "current";
            }
            <li class="@className"><a href="@LinkManager.GetItemUrl(child)">@child.DisplayName</a></li>
        }
    </ul>
</nav>